.extra_design {
  background-color: #c28e7f1e;
  padding: 90px;
}
.extra_image {
  width: 550px;
}
.extra_text {
  width: 330px;
  margin: 60px auto;
}

@media only screen and (max-width: 600px) {
  .extra_design {
    padding: 15px;
  }
  .extra_image {
    width: 100%;
  }
  .extra_text {
    width: 330px;
    margin: 50px auto;
  }
}
